{
  "root": true,
  "extends": "@react-native-community",
  "plugins": [
    "prettier"
  ],
  "rules": {
    "jsx-quotes": "off",
    "semi": "off",
    "@typescript-eslint/no-explicit-any": 2,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "tabWidth": 2,
        "printWidth": 120,
        "singleQuote": true,
        "semi": false,
        "arrowParens": "avoid",
        "bracketSpacing": true,
        "jsxSingleQuote": true
      }
    ]
  }
}